<div>
    <H1>Team members</H1>
    <label>You have {{object_list.count}} team members</label>
    {% for member in object_list %}
    <div>
        <a href="{% url 'edit-member' member.id %}">
            <label>{{member.first_name}} {{member.last_name}}</label>
            {% if member.is_admin %} <Label> (admin)</Label> {% endif %}
            <br>
            <small>{{member.phone_number}}</small>
            <br>
            <small>{{member.email}}</small>
            <hr>
        </a>
    </div>
    {% endfor %}
    <a href="{% url 'add-member' %}">Add member</a>
</div>